body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-lexend-giga: "Lexend Giga";
  --font-lexend-zetta: "Lexend Zetta";
  --font-roboto: Roboto;
  --font-karla: Karla;
  --font-lexend: Lexend;
  --font-lexend-deca: "Lexend Deca";

  /* font sizes */
  --font-size-30xl-9: 49.9px;
  --font-size-11xl: 30px;
  --font-size-53xl-8: 72.8px;
  --font-size-17xl: 36px;
  --font-size-13xl: 32px;
  --font-size-sm: 14px;
  --font-size-lg: 18px;
  --font-size-5xl: 24px;
  --font-size-21xl: 40px;
  --font-size-29xl: 48px;
  --font-size-xl: 20px;
  --font-size-4xl: 23px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-brown-100: #952121;
  --color-brown-200: #861f1f;
  --color-gray-100: rgba(255, 255, 255, 0);
  --color-darkgray: #999;
  --color-whitesmoke: #ececec;

  /* Paddings */
  --padding-mini: 15px;

  /* Border radiuses */
  --br-xl: 20px;
  --br-2xs: 11px;
  --br-21xl: 40px;
}
